@main-font {
    -fx-font-family: "Nuku Nuku";
     src: url('/fonts/nuku.ttf');
}

.button {
     -fx-background-color: 
     	#090a0c,
     linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
     linear-gradient(#20262b, #191d22),
     radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Nuku Nuku";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 22px;
    -fx-padding: 5 10 5 10;
}

.buttonSelected {
     -fx-background-color:
         #1b263b,
     linear-gradient(#26313b, #263446);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Nuku Nuku";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 22px;
    -fx-padding: 5 10 5 10;
}

.hover {
	-fx-background-color: 
     	#090a0c;
}

#button {
   .button;
}

#button:hover {
     linear-gradient(#38424b 0%, #2d3d4e 20%, #28313d 100%),
     linear-gradient(#2b3d4d, #212a35),
     radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#button:pressed {
	-fx-background-color: 
     	#1b263b,
     	linear-gradient(#26313b, #263446);
    -fx-font-size: 21px;
    -fx-padding: 6 12 6 12;
}

.commandButton {
     -fx-background-color: 
     	#090a0c,
     linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
     linear-gradient(#20262b, #191d22),
     radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-padding: 2 2 2 2;
}

.commandButtonSelected {
     -fx-background-color:
     	#1b263b,
     	linear-gradient(#26313b, #263446);
	-fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-padding: 2 2 2 2;
}

.commandButton:hover {
     linear-gradient(#38424b 0%, #2d3d4e 20%, #28313d 100%),
     linear-gradient(#2b3d4d, #212a35),
     radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
#mainMenuButton {
    .button;
    -fx-font-size: 60px;
}

#mainMenuButton:hover {
	 linear-gradient(#38424b 0%, #2d3d4e 20%, #28313d 100%),
     linear-gradient(#2b3d4d, #212a35),
     radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

#mainMenuButton:pressed {
	-fx-background-color: 
     	#1b263b,
     linear-gradient(#26313b, #263446);
    -fx-font-size: 59px;
    -fx-padding: 6 12 6 12;
}